{% extends 'base.html' %}
{% block title %} Главная {% endblock %}
{% block content %}
<h1>Ссылки</h1>
<ul>
    <li><a href="{% url 'client_list' %}">client_list</a></li>
    <li><a href="{% url 'rent_report' %}">rent_report</a></li>
    <li><a href="{% url 'rent_report_csv' %}">rent_report_csv</a></li>
    <li><a href="{% url 'home' %}">home</a></li>
    <li><a href="{% url 'car_list' %}">car_list</a></li>
    <li><a href="{% url 'service_list' %}">service_list</a></li>
    <li><a href="{% url 'rent_list' %}">rent_list</a></li>
    <li><a href="{% url 'maintenance_list' %}">maintenance_list</a></li>
    <li><a href="{% url 'all_data_list' %}">all_data_table c</a></li>


</ul>
{% endblock %}

