{% extends 'base.html' %}
{% block title %} Главная {% endblock %}
{% block content %}
<h1>Таблицы</h1>
<ul>
    <li><a href="{% url 'client_list' %}">Клиенты</a></li>
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li><a href="{% url 'car_list' %}">Машины</a></li>
    <li><a href="{% url 'service_list' %}">Автосервис</a></li>
    <li><a href="{% url 'rent_list' %}">Аренда машин</a></li>
    <li><a href="{% url 'maintenance_list' %}">Обслуживание машин</a></li>
    <li><a href="{% url 'all_data_list' %}">Все данные</a></li>
</ul>
<h1>Отчеты</h1>
<ul>
<li><a href="{% url 'rent_report' %}">Отчет по аренде</a></li>
<li><a href="{% url 'rent_report_csv' %}">Отчет по аренде в csv</a></li>
<li><a href="{% url 'maintenance_report' %}">Отчет по обслуживаниям</a></li>
<li><a href="{% url 'maintenance_report_csv' %}">Отчет по обслуживаниям в csv</a></li>
</ul>
{% endblock %}

