
{% extends 'base.html' %}
{% block title %}Список автомобилей{% endblock %}

{% block content %}
    <h1>Список автомобилей</h1>
    <a href="{% url 'car_table' %}" class="btn btn-primary">Таблица</a>
    <form method="get">
        <input type="text" name="q" placeholder="Поиск автомобилей" value="{{ request.GET.q }}">
        <button type="submit">Поиск</button>
    </form>
    <a href="{% url 'car_create' %}">Создать новый автомобиль</a>
    <ul>
        {% for car in cars %}
            <li>
                {{ car.model }} - <a href="{% url 'car_update' car.pk %}">Редактировать</a> - 
                <a href="{% url 'car_delete' car.pk %}">Удалить</a>
            </li>
        {% empty %}
            <li>Автомобили не найдены.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Назад</a>
{%endblock%}