<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Редактировать клиента{% else %}Создать клиента{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Редактировать клиента{% else %}Создать клиента{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    <a href="{% url 'client_list' %}">Отмена</a>
    <script>
        $(document).ready(function(){
            $('#id_birthday').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true,
                minuteStep: 1
            });
        });
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const phoneInput = document.getElementById('id_phone');

        phoneInput.addEventListener('input', function() {
            this.value = this.value.replace(/[^0-9+ ]/g, ''); 
            if (this.value.length > 1) {
                this.value = this.value.substring(0, 16); 
            }
            if (this.value.startsWith('+7') || this.value.startsWith('8')) {
                this.value = this.value.replace(/(\+7|8)\s*(\d{3})\s*(\d{3})\s*(\d{2})\s*(\d{2})/, '+7 $2 $3-$4-$5');
            }
        });
        const licenseInput = document.getElementById('id_license');

        licenseInput.addEventListener('input', function() {
            this.value = this.value.replace(/[^0-9 ]/g, ''); 

            const parts = this.value.split(' ').join('').match(/(\d{0,2})(\d{0,2})(\d{0,6})/);
            if (parts) {
                this.value = `${parts[1]} ${parts[2]} ${parts[3]}`.trim();
            }
        });
    });
</script>

</body>
</html>
