
{% extends 'base.html' %}
{% block title %}Список обслуживания{% endblock %}

{% block content %}
    <h1>Список обслуживания</h1>
<a href="{% url 'maintenance_table' %}" class="btn btn-primary">Таблица</a>
<form method="get">
    <input type="text" name="q" placeholder="Поиск обслуживания" value="{{ request.GET.q }}">
    <button type="submit">Поиск</button>
    <a href="{% url 'maintenance_create' %}">Создать новое обслуживание</a>
</form>
    <ul>
        {% for maintenance in maintenances %}
            <li>
                {{ maintenance.car.model }} - {{ maintenance.service.name }} - <a href="{% url 'maintenance_update' maintenance.pk %}">Редактировать</a> - 
                <a href="{% url 'maintenance_delete' maintenance.pk %}">Удалить</a>
            </li>
        {% empty %}
            <li>Обслуживания не найдены.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Назад</a>
{%endblock%}
