{%extends 'base.html'%}
{% block title%}Список аренды{%endblock%}    
{%block content%}
<h1>Список аренды</h1>
    <a href="{% url 'rent_table' %}" class="btn btn-primary">Таблица</a>
    <form method="get">
        <input type="text" name="q" placeholder="Поиск аренды" value="{{ request.GET.q }}">
        <button type="submit">Поиск</button>
    </form>
    <a href="{% url 'rent_create' %}">Создать новую аренду</a>
    <ul>
        {% for rent in rents %}
            <li>
                {{ rent.client.name }} - {{ rent.car.model }} - <a href="{% url 'rent_update' rent.pk %}">Редактировать</a> - 
                <a href="{% url 'rent_delete' rent.pk %}">Удалить</a>
            </li>
        {% empty %}
            <li>Аренды не найдены.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Назад</a>
{%endblock%}