<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список услуг</title>
</head>
<body>
    <h1>Список услуг</h1>
    <a href="{% url 'service_create' %}">Создать новую услугу</a>
    <form method="get">
    <input type="text" name="q" placeholder="Поиск услуг" value="{{ request.GET.q }}">
    <button type="submit">Поиск</button>
</form>
    <ul>
        {% for service in services %}
            <li>
                {{ service.name }} - <a href="{% url 'service_update' service.pk %}">Редактировать</a> - 
                <a href="{% url 'service_delete' service.pk %}">Удалить</a>
            </li>
        {% empty %}
            <li>Услуги не найдены.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Назад</a>
</body>
</html>
